<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.js"></script>
    <script type="text/javascript" src="/Scripts/App/app.js"></script>
    <script type="text/javascript" src="/Scripts/App/Controllers/user-info-controller.js"></script>
    <script type="text/javascript" src="/Scripts/App/Services/services.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
